@model CameraShop.Models.PaymentCard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PaymentCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CvsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CvsNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaymentCardID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
